In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
import itertools
import networkx as nx
import warnings
from tqdm import tqdm_notebook as tqdm
from sklearn.metrics import adjusted_mutual_info_score
from scipy.stats import poisson
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
# EQ=GY

In [3]:
def Table(A, B):
    table = np.zeros((max(A) + 2, max(B) + 2))
    for a, b in zip(A, B):
        table[a, b] += 1
    return table

In [43]:
data_pd = pd.read_csv('data/MergedData.csv', index_col=0)
data_pd = data_pd.loc[data_pd['species'] == 'HomoSapiens']
data_pd.index = np.arange(data_pd.shape[0])
data = data_pd.values

In [88]:
def aapClusters(sequences, indexing, mmm=1, delimeter='*'):
    l = len(sequences[0])
    clusters = []
    masks = itertools.combinations(np.arange(l), mmm)
    for mask in masks:
        mask = [-1] + list(mask) + [l]
        masker = lambda x: delimeter.join([x[mask[i] + 1:mask[i + 1]] for i in range(mmm + 1)])
        factor = set([masker(x) for x in sequences])
        c = {m:[] for m in factor}
        for i, x in enumerate(sequences):
            c[masker(x)].append(indexing[i])
        for m in factor:
            if len(c[m]) > 1:
                clusters.append(c[m])
    return clusters

def EdgeListfromClusters(n, clusters):
    edges = set([])
    for cluster in clusters:
        for x, y in itertools.combinations(cluster, 2):
            edges.add((x, y))
    return list(edges)

def GetClusters(acdr3):
    acdr3_length = np.array([len(x) for x in acdr3])
    aedges = []
    for l in range(6, 20):
        indexes = np.arange(acdr3.shape[0])[acdr3_length == l]
        a = acdr3[indexes]
        clusters = aapClusters(a, indexes)
        e = EdgeListfromClusters(acdr3.shape[0], clusters)
        aedges += e
    
    Agraph = nx.Graph()
    Agraph.add_edges_from(aedges)
    acomponents = list(nx.connected_components(Agraph))
    
    return acomponents

def Sets2Indexing(n, sets):
    indexing = np.zeros((n)) - 1
    for i, x in enumerate(sets):
        indexing[list(x)] = i
    return indexing

def cdr3clusters(cdr3):
    cluster_sets = GetClusters(cdr3)
    return Sets2Indexing(cdr3.shape[0], cluster_sets)

def ClusterIndexes(array):
    factor = np.array(list(set(array)))
    element2i = {x:i for i, x in enumerate(factor)}
    indexes = [[] for x in factor]
    for i, x in enumerate(array):
        indexes[element2i[x]].append(i)
    return indexes

def ClusterDIndexes(array):
    factor = set([])
    nan = pd.isnull(data_pd['epitope']).values
    for i, a in enumerate(array):
        if not nan[i]:
            for x in a.split(','):
                factor.add(x)
    indexes = {x:[] for x in factor}
    for i, a in enumerate(array):
        if not nan[i]:
            for x in a.split(','):
                indexes[x].append(i)
    return indexes

In [44]:
data_pd['alpha.cluster'] = cdr3clusters(data_pd['alpha.cdr3'].values)
data_pd['beta.cluster'] = cdr3clusters(data_pd['beta.cdr3'].values)

In [7]:
t = Table(np.array(data_pd['alpha.cluster'].values, dtype=int), 
          np.array(data_pd['beta.cluster'].values, dtype=int))

In [8]:
x = np.sum(t, axis=0)
y = np.sum(t, axis=1)
e = np.dot(y.reshape(-1, 1), x.reshape(1,-1)) / np.sum(t)
i = t.reshape(-1) > 10
z = (t-e) / np.sqrt(1 + e)
p = poisson.cdf(t, 5 + e)
np.sum(p > 0.99)

9

In [9]:
def Xuseless_positions(cdr3, useless_pos_dict):
    cdr3f = np.zeros((cdr3.shape[0]), dtype=object)
    for i in range(cdr3.shape[0]):
        arr = np.array(list(cdr3[i]))
        if len(arr) in auseless_positions.keys():
            arr[auseless_positions[len(arr)]] = 'X'
        cdr3f[i] = ''.join(arr)
    return cdr3f

auseless_positions = {7: [6], 8: [2], 9: [1], 10: [4, 9], 11: [2, 4, 10], 12: [2, 11], 13: [4], 14: [4, 13], 15: [4], 16: [4, 5, 15], 17: [4, 6, 16], 18: [5, 6, 17], 19: [4]}
buseless_positions = {7: [], 8: [], 9: [2], 10: [4, 9], 11: [4, 6], 12: [4, 11], 13: [4], 14: [4, 5, 6, 13], 15: [4, 14], 16: [4, 15], 17: [4, 16], 18: [7, 8, 11, 17], 19: []}

In [45]:
data_pd['alpha.xcdr3'] = Xuseless_positions(data_pd['alpha.cdr3'].values, auseless_positions)
data_pd['beta.xcdr3'] = Xuseless_positions(data_pd['beta.cdr3'].values, buseless_positions)

In [46]:
data_pd['alpha.xcluster'] = cdr3clusters(data_pd['alpha.xcdr3'].values)
data_pd['beta.xcluster'] = cdr3clusters(data_pd['beta.xcdr3'].values)

In [13]:
t = Table(np.array(data_pd['alpha.xcluster'].values, dtype=int), 
          np.array(data_pd['beta.xcluster'].values, dtype=int))
x = np.sum(t, axis=0)
y = np.sum(t, axis=1)
e = np.dot(y.reshape(-1, 1), x.reshape(1,-1)) / np.sum(t)
i = t.reshape(-1) > 10
z = (t-e) / np.sqrt(1 + e)
p = poisson.cdf(t, 5 + e)
np.sum(p > 0.99), np.sum(p > 0.999), np.sum(p > 0.9999)

(16, 8, 4)

In [14]:
indexes = []
for i, j in np.array(np.where(p > .99)).T:
    a = np.where(data_pd['alpha.xcluster'] == i)[0]
    b = np.where(data_pd['beta.xcluster'] == j)[0]
    indexes += list(set(a) & set(b))

In [15]:
G_pd = data_pd.loc[data_pd.index[indexes]]
G = G_pd.values

Half of the groups are antigen specific.

We have to delete a group, if it has a member outside of pairseq.

In [18]:
antigen_groups = G_pd.loc[
    ~pd.isnull(G_pd['epitope'])][
    ['alpha.xcluster', 'beta.xcluster']].drop_duplicates()
antigen_groups

        alpha.xcluster  beta.xcluster
6884             176.0          628.0
44797            236.0          622.0
10395            694.0          622.0
154294           699.0           86.0
13989           1054.0          622.0
31595           1083.0          622.0
14759           1909.0           87.0
141864          1909.0          622.0

In [19]:
antigen_groups_set = set([tuple(x) for x in antigen_groups.values])
G1 = G[[not tuple(x) in antigen_groups_set for x in G[:, [-2, -1]]], :]

In [22]:
pd.DataFrame(G1, columns=data_pd.columns).to_csv('EnrichGeneTrios.txt', sep='\t', index=None)

Now Lets look at epitope-specific cells group distribution

In [178]:
from scipy.stats import chisquare

def pz(t):
    x = np.sum(t, axis=0)
    y = np.sum(t, axis=1)
    e = np.dot(y.reshape(-1, 1), x.reshape(1,-1)) / np.sum(t)
    t = t[y>0, :][:, x>0]
    e = e[y>0, :][:, x>0]
    z = (t-e) / np.sqrt(1 + e)
    p = poisson.cdf(t, 1 + e)
    return z, p, chisquare(f_obs=t.reshape(-1),
                           f_exp=1 + e.reshape(-1),
                           ddof=t.shape[0] + t.shape[1] - 1)

In [59]:
epitop_indexes = ClusterDIndexes(data_pd['epitope'].values[~pd.isnull(data_pd['epitope'])])
T = pd.DataFrame(np.zeros((5, len(epitop_indexes.keys()))), 
                 columns=epitop_indexes.keys(),
                 index=['cells', 'alpha clusters', 'beta clusters', 'groups with p > .99', 'groups with z > 2'])
for epitope in tqdm(epitop_indexes):
    indexes = epitop_indexes[epitope]
    edata_pd = data_pd.loc[indexes]
    t = Table(np.array(edata_pd['alpha.xcluster'].values, dtype=int), 
          np.array(edata_pd['beta.xcluster'].values, dtype=int))
    
    T[epitope] = [np.sum(x), np.sum(x > 0), np.sum(y > 0), np.sum(p > 0.99), np.sum(z > 2)]

HBox(children=(IntProgress(value=0, max=82), HTML(value='')))

In [63]:
pd.DataFrame(T.T.loc[T.T['cells'] > 5], dtype=int)

,cells,alpha clusters,beta clusters,groups with p > .99,groups with z > 2
KLVALGINAV,37,17,32,0,0
TAFTIPSI,14,5,12,0,0
CINGVCWTV,79,31,55,0,0
ELAGIGILTV,57,23,44,0,0
NLVPMVATV,176,48,102,0,0
YVLDHLIVV,11,7,10,0,0
EPLPQGQLTAY,9,6,9,0,0
AVFDRKSDAK,7,5,6,0,0
RPRGEVRFL,48,21,37,0,0
LPEPLPQGQLTAY,7,5,7,0,0
TPRVTGGGAM,7,5,7,0,0
GILGFVFTL,408,76,167,0,1
IVTDFSVIK,8,5,8,0,0
LLWNGPMAV,197,46,100,0,0
QIKVRVDMV,7,5,6,0,0
CVNGSCFTV,14,9,13,0,0
PKYVKQNTLKLAT,69,26,51,0,0
GLCTLVAML,152,43,97,0,0

In [103]:
aa = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y', '_']
aa2num_table = {aa[i]:i for i in range(21)}

def aa2num(aa):
    return aa2num_table[aa]

def protein2array(protein):
    return np.array([aa2num(aa) for aa in protein])

def array2protein(array):
    return ''.join([aa[x] for x in array])

def standartize_cdr3_length(protein):
    insertion_places = {6:3, 7:4, 8:4, 9:5, 10:5, 11:6, 12:6, 13:7, 14:7, 15:8}
    insertion_place = insertion_places[len(protein)]
    insertion_length = 15 - len(protein)
    return protein[:insertion_place] + '_' * insertion_length + protein[insertion_place:]

In [135]:
def ABmatrix(acdr3, bcdr3):
    acdr3l = np.array([5 < len(x) < 16 for x in acdr3])
    bcdr3l = np.array([5 < len(x) < 16 for x in bcdr3])
    lindexes = np.all([acdr3l, bcdr3l], axis=0)

    acdr3 = acdr3[lindexes]
    bcdr3 = bcdr3[lindexes]
    
    n = acdr3.shape[0]
    acdr3 = np.array([standartize_cdr3_length(x) for x in acdr3])
    bcdr3 = np.array([standartize_cdr3_length(x) for x in bcdr3])
    A = np.zeros((n, 15), dtype=object)
    B = np.zeros((n, 15), dtype=object)
    for i in range(n):
        for j in range(15):
            A[i, j] = acdr3[i][j]
            B[i, j] = bcdr3[i][j]
    return A, B

In [244]:
epitop_indexes = ClusterDIndexes(data_pd['epitope'].values)
epitops = np.array(list(epitop_indexes.keys()))
epitope_cell_count_used = np.zeros_like(epitops, dtype=int)
M = np.ones((epitops.shape[0], 15, 15))
a, b = [], []
for i_epitope, epitope in tqdm(enumerate(epitops)):
    edata_pd = data_pd.loc[epitop_indexes[epitope]]
    A, B = ABmatrix(edata_pd['alpha.cdr3'].values,
                    edata_pd['beta.cdr3'].values)
    a.append(A)
    b.append(B)
    n = A.shape[0]
    epitope_cell_count_used[i_epitope] = n
    print(n, end=' ')
    if n > 1:
        for x in range(n):
            for i, j in itertools.product(range(15), repeat=2):
                t = np.zeros((21, 21))
                for x in range(n):
                    t[aa2num(A[x, i]), 
                      aa2num(B[x, j])] += 1
                M[i_epitope, i, j] = pz(t)[2][1]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

0 1 31 1 1 11 1 1 0 1 1 1 0 1 1 0 0 31 1 39 1 1 1 103 1 0 9 1 1 5 7 0 0 5 1 1 38 1 7 1 0 2 3 0 1 2 1 4 2 0 0 0 0 315 0 6 1 0 0 0 1 1 1 1 2 1 1 1 1 174 1 1 4 1 0 1 7 44 1 129 3 0

In [245]:
M[np.where(np.isnan(M))] = 1.

In [249]:
M1 = M[epitope_cell_count_used > 10]

In [253]:
np.sum(M < 1.), np.sum(M1 < 1.), np.sum(M < .01), np.sum(M < .001)

(2655, 1735, 166, 90)

In [282]:
epitops_bias = np.sum(M < .001, axis=((1,2)))
print('There is bias in epitops {0} with {1} pairs of positions with chi-square p-value less than .001'.format(
epitops[epitops_bias > 0], epitops_bias[epitops_bias > 0]))

There is bias in epitops ['NLVPMVATV' 'GILGFVFTL' 'GLCTLVAML'] with [15 12 63] pairs of positions with chi-square p-value less than .001

In [254]:
thr = .000001
Q = np.array(np.where(M < thr), dtype=object).T
for i in range(Q.shape[0]):
    Q[i, 0] = epitops[int(Q[i, 0])]
pd.DataFrame(Q, columns=['epitope', 'alpha cdr3 position', 'beta cdr3 position'])

      epitope alpha cdr3 position beta cdr3 position
0   GLCTLVAML                   3                  2
1   GLCTLVAML                   3                  3
2   GLCTLVAML                   4                  3
3   GLCTLVAML                   5                  3
4   GLCTLVAML                  10                  1
5   GLCTLVAML                  10                  2
6   GLCTLVAML                  10                  3
7   GLCTLVAML                  11                  2
8   GLCTLVAML                  11                  3
9   GLCTLVAML                  13                  2
10  GLCTLVAML                  13                  3
11  GLCTLVAML                  13                 12

In [255]:
thr = .00001
# from thr/10 to thr
Q = np.array(np.where(np.all([M < thr, M >= .1*thr], axis=0)), dtype=object).T
for i in range(Q.shape[0]):
    Q[i, 0] = epitops[int(Q[i, 0])]
pd.DataFrame(Q, columns=['epitope', 'alpha cdr3 position', 'beta cdr3 position'])

     epitope alpha cdr3 position beta cdr3 position
0  GILGFVFTL                   8                  9
1  GLCTLVAML                   3                  1
2  GLCTLVAML                   5                  2
3  GLCTLVAML                  10                  9
4  GLCTLVAML                  10                 11
5  GLCTLVAML                  11                  1
6  GLCTLVAML                  11                 12
7  GLCTLVAML                  13                  1

In [256]:
thr = .0001
# from thr/10 to thr
Q = np.array(np.where(np.all([M < thr, M >= .1*thr], axis=0)), dtype=object).T
for i in range(Q.shape[0]):
    Q[i, 0] = epitops[int(Q[i, 0])]
pd.DataFrame(Q, columns=['epitope', 'alpha cdr3 position', 'beta cdr3 position'])

      epitope alpha cdr3 position beta cdr3 position
0   NLVPMVATV                  10                 13
1   NLVPMVATV                  12                 12
2   GILGFVFTL                   6                  9
3   GILGFVFTL                   8                  5
4   GILGFVFTL                   8                 10
5   GILGFVFTL                   9                  5
6   GILGFVFTL                  10                  5
7   GLCTLVAML                   3                 10
8   GLCTLVAML                   3                 11
9   GLCTLVAML                   3                 12
10  GLCTLVAML                   3                 13
11  GLCTLVAML                   4                  1
12  GLCTLVAML                   4                  2
13  GLCTLVAML                   5                  1
14  GLCTLVAML                   5                 10
15  GLCTLVAML                   5                 12
16  GLCTLVAML                   9                  3
17  GLCTLVAML                   9                  9
18  GLCTLVAML                  10                  4
19  GLCTLVAML                  10                 10
20  GLCTLVAML                  10                 12
21  GLCTLVAML                  11                  4
22  GLCTLVAML                  11                 10
23  GLCTLVAML                  13                 10
24  GLCTLVAML                  13                 13

In [257]:
thr = .001
# from thr/10 to thr
Q = np.array(np.where(np.all([M < thr, M >= .1*thr], axis=0)), dtype=object).T
for i in range(Q.shape[0]):
    Q[i, 0] = epitops[int(Q[i, 0])]
pd.DataFrame(Q, columns=['epitope', 'alpha cdr3 position', 'beta cdr3 position'])

      epitope alpha cdr3 position beta cdr3 position
0   NLVPMVATV                   2                 12
1   NLVPMVATV                   2                 13
2   NLVPMVATV                   3                 12
3   NLVPMVATV                   8                 12
4   NLVPMVATV                   9                 11
5   NLVPMVATV                   9                 12
6   NLVPMVATV                   9                 13
7   NLVPMVATV                  10                  5
8   NLVPMVATV                  10                 11
9   NLVPMVATV                  10                 12
10  NLVPMVATV                  12                  5
11  NLVPMVATV                  12                 11
12  NLVPMVATV                  12                 13
13  GILGFVFTL                   6                  5
14  GILGFVFTL                   6                 10
15  GILGFVFTL                   8                  6
16  GILGFVFTL                   9                  9
17  GILGFVFTL                   9                 10
18  GILGFVFTL                  10                  6
19  GLCTLVAML                   1                  1
20  GLCTLVAML                   1                  9
21  GLCTLVAML                   3                  4
22  GLCTLVAML                   3                  6
23  GLCTLVAML                   3                  9
24  GLCTLVAML                   4                  9
25  GLCTLVAML                   4                 10
26  GLCTLVAML                   4                 11
27  GLCTLVAML                   4                 13
28  GLCTLVAML                   5                  4
29  GLCTLVAML                   5                 11
30  GLCTLVAML                   5                 13
31  GLCTLVAML                   6                  1
32  GLCTLVAML                   6                  3
33  GLCTLVAML                   6                  9
34  GLCTLVAML                   9                  1
35  GLCTLVAML                   9                  2
36  GLCTLVAML                   9                  4
37  GLCTLVAML                   9                 10
38  GLCTLVAML                  10                  5
39  GLCTLVAML                  10                  6
40  GLCTLVAML                  10                 13
41  GLCTLVAML                  11                 13
42  GLCTLVAML                  13                  4
43  GLCTLVAML                  13                  9
44  GLCTLVAML                  13                 11

In [263]:
i_epitope = 79
alpha_pos = 10
beta_pos = 1
print(epitops[i_epitope])
print('alpha position: {}'.format(alpha_pos))
print('beta position: {}'.format(beta_pos))

GLCTLVAML
alpha position: 10
beta position: 1

In [264]:
A, B = a[i_epitope], b[i_epitope]
for x in range(A.shape[0]):
    i, j = alpha_pos, beta_pos
    t = np.zeros((21, 21))
    for x in range(A.shape[0]):
        t[aa2num(A[x, i]), 
          aa2num(B[x, j])] += 1

In [271]:
x = np.sum(t, axis=0)
y = np.sum(t, axis=1)
e = np.dot(y.reshape(-1, 1), x.reshape(1,-1)) / np.sum(t)
T = t[y>0, :][:, x>0]
e = e[y>0, :][:, x>0]
aax = np.array(aa)[x>0]
aay = np.array(aa)[y>0]
print('observed aminoacids, rows are beta chain, columns are alpha chain')
pd.DataFrame(T, index=aay, columns=aax, dtype=int).T

observed aminoacids, rows are beta chain, columns are alpha chain

    A  D  E  F   G  H   N  P  Q  S  T   Y
A   5  8  0  1   9  1  13  0  3  6  2  13
S  34  0  6  0  10  0   4  1  1  2  3   7

In [272]:
print('expected aminoacids, rows are beta chain, columns are alpha chain')
pd.DataFrame(e, index=aay, columns=aax, dtype=int).T

expected aminoacids, rows are beta chain, columns are alpha chain

    A  D  E  F   G  H  N  P  Q  S  T   Y
A  18  3  2  0   8  0  8  0  1  3  2   9
S  20  4  3  0  10  0  8  0  2  4  2  10